{% extends 'parents/base_generic.html' %}
{% load bootstrap %}

{% block title %}
Login
{% endblock %}

{% block content %}

  <div class="col-sm-offset-3 col-sm-6">

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page.
        To proceed, please login with ans account that
        has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{ form|bootstrap }}
      <div class="form-group">
        <input class="btn btn-default" type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
      </div>
    </form>

    <p>
      <a href="#">Lost password?</a>
    </p>

  </div>

{% endblock %}